body
{
	background-color: #809A80;
}

.theRealMet
{
	background-image: url("MetScreenshot.png");
	background-size: 1920px 996px;
	background-repeat: no-repeat;
}

#pageWrapper
{
	width: 750px;
}

#header
{
	height: 74px;
	width: 784px;
	margin-top: -7px;
	margin-left: -8px;
	position: static;
}

.content
{
	background-color: #6e816e;
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: .75em;
	font-weight: 100;
	color: white;
}

#topTitle
{
	margin-left: 14px;
	width: 712px;
	height: 15px;
	letter-spacing: .8px;
}

#whatTitle
{
	width: 133px;
	display: inline;
	position: absolute;
}

#whatTitle
{
	padding-left: 5px;
}

#exbTitle
{
	width: 567px;
	margin-left: 142px;
	display: inline;
	position: absolute;
}

#exbTitle span
{
	padding-left: 15px;
}

#middlePackage
{
	display: block;
}

#aside
{
	width: 137px;
	height: 462px;
	margin-top: 4px;
	margin-left: 15px;
	padding: 10px 0px 0px 0px;
	display: inline-block;
	letter-spacing: .2px;
	font-size: .8em;
}

#aside p
{
	padding-top: 2.5px;
}

#aside p.mainIdea
{
	margin: 0;
	padding-left: 10px;
}

#aside p.subIdea
{
	margin: 0;
	padding-left: 20px;
}

#asideSearch
{
	margin-top: 10px;
}

#asideSearch input
{
	width: 85px;
	margin-left: 5px;
}

#specialExhibitions
{
	position: absolute;
	display: inline-block;
	width: 567px;
	height: 281px;
	margin-top: 4px;
	margin-left: 4px;
	background-color: #6e816e;
	border-collapse: separate;
	color: rgb(255, 255, 204);
	font-family: geneva, arial, sans-serif;
	font-size: 10px;
	text-align: -webkit-left;
}

#specialExhibitions a
{
	border-collapse: separate;
	color: white;
	font-size: 10px;
	text-align: -webkit-left;
	text-decoration: underline;
}

#specialExhibitions p
{
	margin: 0;
}

#exb1
{
	margin: 7px 0px 0px 29px;
	display: inline;
	position: absolute;
}

#exh1 img
{
  height: 200px;
  width: 150px;
}

#exb2
{
	margin: 7px 0px 0px 209px;
	display: inline;
	position: absolute;
}

#exb3
{
	margin: 7px 0px 0px 389px;
	display: inline;
	position: absolute;
}

#link1
{
	width: 165px;
	margin: 214px 0px 0px 29px;
	display: inline;
	position: absolute;
	font-weight: 100;
}

#link1 a
{
	transform: scaleY(1.5);
}

#link2
{
	width: 175px;
	margin: 210px 0px 0px 209px;
	display: inline;
	position: absolute;
}

#link3
{
	width: 150px;
	margin: 210px 0px 0px 389px;
	display: inline;
	position: absolute;
}

#highTitle
{
	width: 567px;
	margin: 289px 0px 0px 4px;
	display: inline-block;
	position: absolute;
}

#highTitle span
{
	padding-left: 15px;
}

#highlights
{
	width: 567px;
	height: 166px;
	margin: 309px 0px 0px 4px;
	display: inline-block;
	position: absolute;
	background-color: #6e816e;
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: .8em;
	letter-spacing: .8px;
	color: white;
}

#highlights a
{
	border-collapse: separate;
	color: white;
	font-size: 1em;
	text-align: -webkit-left;
	text-decoration: underline;
}

#highlights p,
#highlights span
{
	margin: 0;
	color: rgb(255, 255, 204);
}

#highTop1
{
	width: 300px;
	margin: 1px 0px 0px 16px;
	display: inline;
	position: absolute;
}

#highTop1 div
{
	width: 100px;
	margin: 0px 0px 0px 8px;
	display: inline;
	position: absolute;
}

#highTop2
{
	width: 300px;
	margin: 1px 0px 0px 197px;
	display: inline;
	position: absolute;
}

#highTop2 div
{
	width: 100px;
	margin: 0px 0px 0px 8px;
	display: inline;
	position: absolute;
}

#highTop3
{
	width: 300px;
	margin: 1px 0px 0px 378px;
	display: inline;
	position: absolute;
}

#highTop3 div
{
	width: 120px;
	margin: 0px 0px 0px 8px;
	display: inline;
	position: absolute;
}

#highBot1
{
	width: 300px;
	margin: 91px 0px 0px 16px;
	display: inline;
	position: absolute;
}

#highBot1 div
{
	width: 100px;
	margin: 0px 0px 0px 8px;
	display: inline;
	position: absolute;
}

#highBot2
{
	width: 300px;
	margin: 91px 0px 0px 197px;
	display: inline;
	position: absolute;
}

#highBot2 div
{
	width: 100px;
	margin: 0px 0px 0px 8px;
	display: inline;
	position: absolute;
}

#highBot3
{
	width: 300px;
	margin: 91px 0px 0px 378px;
	display: inline;
	position: absolute;
}

#highBot3 div
{
	width: 100px;
	margin: 0px 0px 0px 8px;
	display: inline;
	position: absolute;
}

#moreSpeExh
{
	width: 200px;
	margin: 260px 0px 0px 426px;
	display: inline;
	position: absolute;
}

#footer
{
	width: 567px;
	margin: 15px 0px 0px 184px;
	display: inline;
	position: absolute;
	color: rgb(255, 255, 204);
	font-family: geneva, arial, sans-serif;
	font-size: 10px;
}

#footer a
{
	color: rgb(255, 255, 255);
	font-size: 10px;
	text-decoration: underline;
}

#contact
{
	margin: 10px 0px 0px 0px;
	display: inline;
	position: absolute;
}

#acknowledgments
{
	margin: 37px 0px 0px 0px;
	display: inline;
	position: absolute;
}

#metToggle
{
	position: fixed;
	right: 1%;
	bottom: 1%;
}

.showIt
{
	display: block;
}

.hideIt
{
	display: none;
}
